## Exploring Web Scraping with Python: Tesla Wikipedia Page

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
start_url = "https://en.wikipedia.org/wiki/Tesla,_Inc."

downloaded_html = requests.get(start_url)

soup = BeautifulSoup(downloaded_html.text)

with open('downloaded.html', 'w') as file:
    file.write(soup.prettify())

In [5]:
# select table.wikitable

full_table = soup.select('table.wikitable tbody')[0]
print(full_table)

<tbody><tr style="text-align:center;">
<th>Quarter</th>
<th>Cumulative<br/>production</th>
<th>Total<br/>production</th>
<th>Model S<br/>sales
</th>
<th>Model X<br/>sales
</th>
<th>Model 3 + Model Y<br/>sales<sup class="reference" id="cite_ref-99"><a href="#cite_note-99">[b]</a></sup></th>
<th>Total<br/>sales<sup class="reference" id="cite_ref-100"><a href="#cite_note-100">[c]</a></sup></th>
<th>In transit<sup class="reference" id="cite_ref-101"><a href="#cite_note-101">[d]</a></sup></th>
<th>Source
</th></tr>
<tr style="text-align:center;">
<td>Q1 2013</td>
<td>?</td>
<td>5,000+</td>
<td>4,900</td>
<td style="background:#f1f5fa;">
</td>
<td style="background:#f1f5fa;"></td>
<td>4,900</td>
<td></td>
<td><sup class="reference" id="cite_ref-102"><a href="#cite_note-102">[98]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q2 2013</td>
<td>?</td>
<td>?</td>
<td>5,150</td>
<td style="background:#f1f5fa;">
</td>
<td style="background:#f1f5fa;"></td>
<td>5,150</td>
<td></td>
<td><sup class="reference" id="cite_ref-103"><a href="#cite_note-103">[99]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q3 2013</td>
<td>?</td>
<td>?</td>
<td>5,500+</td>
<td style="background:#f1f5fa;">
</td>
<td style="background:#f1f5fa;"></td>
<td>5,500+</td>
<td></td>
<td><sup class="reference" id="cite_ref-104"><a href="#cite_note-104">[100]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q4 2013</td>
<td>~34,851</td>
<td>6,587</td>
<td>6,892</td>
<td style="background:#f1f5fa;">
</td>
<td style="background:#f1f5fa;"></td>
<td>6,892</td>
<td></td>
<td><sup class="reference" id="cite_ref-105"><a href="#cite_note-105">[101]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q1 2014</td>
<td>~41,438</td>
<td>7,535</td>
<td>6,457</td>
<td style="background:#f1f5fa;">
</td>
<td style="background:#f1f5fa;"></td>
<td>6,457</td>
<td></td>
<td><sup class="reference" id="cite_ref-106"><a href="#cite_note-106">[102]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q2 2014</td>
<td>~48,973</td>
<td>8,763</td>
<td>7,579</td>
<td style="background:#f1f5fa;">
</td>
<td style="background:#f1f5fa;"></td>
<td>7,579</td>
<td></td>
<td><sup class="reference" id="cite_ref-107"><a href="#cite_note-107">[103]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q3 2014</td>
<td>~57,736</td>
<td>~7,075</td>
<td>7,785</td>
<td style="background:#f1f5fa;">
</td>
<td style="background:#f1f5fa;"></td>
<td>7,785</td>
<td></td>
<td><sup class="reference" id="cite_ref-108"><a href="#cite_note-108">[104]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q4 2014</td>
<td>64,811</td>
<td>11,627</td>
<td>9,834</td>
<td style="background:#f1f5fa;">
</td>
<td style="background:#f1f5fa;"></td>
<td>9,834</td>
<td></td>
<td><sup class="reference" id="cite_ref-109"><a href="#cite_note-109">[105]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q1 2015</td>
<td>76,438</td>
<td>11,160</td>
<td>10,045</td>
<td style="background:#f1f5fa;">
</td>
<td style="background:#f1f5fa;"></td>
<td>10,045</td>
<td></td>
<td><sup class="reference" id="cite_ref-110"><a href="#cite_note-110">[106]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q2 2015</td>
<td>89,245</td>
<td>12,807</td>
<td>11,532</td>
<td style="background:#f1f5fa;">
</td>
<td style="background:#f1f5fa;"></td>
<td>11,532</td>
<td></td>
<td><sup class="reference" id="cite_ref-111"><a href="#cite_note-111">[107]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q3 2015</td>
<td>102,336</td>
<td>13,091</td>
<td>11,597</td>
<td>6
</td>
<td style="background:#f1f5fa;"></td>
<td>11,603</td>
<td></td>
<td><sup class="reference" id="cite_ref-112"><a href="#cite_note-112">[108]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q4 2015</td>
<td>116,373</td>
<td>14,037</td>
<td>17,272</td>
<td>206
</td>
<td style="background:#f1f5fa;"></td>
<td>17,478</td>
<td></td>
<td><sup class="reference" id="cite_ref-113"><a href="#cite_note-113">[109]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q1 2016</td>
<td>131,883</td>
<td>15,510</td>
<td>12,420</td>
<td>2,400
</td>
<td style="background:#f1f5fa;"></td>
<td>14,820</td>
<td>2,615</td>
<td><sup class="reference" id="cite_ref-Tesla1Q2016_114-0"><a href="#cite_note-Tesla1Q2016-114">[110]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q2 2016</td>
<td>150,228</td>
<td>18,345</td>
<td>9,764</td>
<td>4,638
</td>
<td style="background:#f1f5fa;"></td>
<td>14,402</td>
<td>5,150</td>
<td><sup class="reference" id="cite_ref-115"><a href="#cite_note-115">[111]</a></sup><sup class="reference" id="cite_ref-116"><a href="#cite_note-116">[112]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q3 2016</td>
<td>175,413</td>
<td>25,185</td>
<td>16,047</td>
<td>8,774
</td>
<td style="background:#f1f5fa;"></td>
<td>24,821</td>
<td>5,065</td>
<td><sup class="reference" id="cite_ref-117"><a href="#cite_note-117">[113]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q4 2016<sup class="reference" id="cite_ref-118"><a href="#cite_note-118">[e]</a></sup></td>
<td>200,295</td>
<td>24,882</td>
<td>12,700</td>
<td>9,500
</td>
<td style="background:#f1f5fa;"></td>
<td>22,254</td>
<td>6,450</td>
<td><sup class="reference" id="cite_ref-119"><a href="#cite_note-119">[114]</a></sup><sup class="reference" id="cite_ref-Tesla4Q2016final_120-0"><a href="#cite_note-Tesla4Q2016final-120">[115]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q1 2017</td>
<td>225,713</td>
<td>25,418</td>
<td>~13,450</td>
<td>~11,550
</td>
<td style="background:#f1f5fa;"></td>
<td>25,051</td>
<td>~4,650</td>
<td><sup class="reference" id="cite_ref-Tesla1Q2017_121-0"><a href="#cite_note-Tesla1Q2017-121">[116]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q2 2017</td>
<td>251,421</td>
<td>25,708</td>
<td>~12,000</td>
<td>~10,000
</td>
<td style="background:#f1f5fa;"></td>
<td>22,026</td>
<td>~3,500</td>
<td><sup class="reference" id="cite_ref-Tesla2Q2017_122-0"><a href="#cite_note-Tesla2Q2017-122">[117]</a></sup><sup class="reference" id="cite_ref-123"><a href="#cite_note-123">[118]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q3 2017</td>
<td>276,757</td>
<td>25,336</td>
<td>14,065</td>
<td>11,865</td>
<td>222</td>
<td>26,137</td>
<td>4,820</td>
<td><sup class="reference" id="cite_ref-Tesla3Q2017_124-0"><a href="#cite_note-Tesla3Q2017-124">[119]</a></sup><sup class="reference" id="cite_ref-3Q2017Tesla250K_125-0"><a href="#cite_note-3Q2017Tesla250K-125">[120]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q4 2017</td>
<td>301,322</td>
<td>24,565</td>
<td>~15,200</td>
<td>~13,120</td>
<td>1,542</td>
<td>29,967</td>
<td>3,380</td>
<td><sup class="reference" id="cite_ref-Tesla4Q2017_126-0"><a href="#cite_note-Tesla4Q2017-126">[121]</a></sup><sup class="reference" id="cite_ref-Tesla4Q2017_AggProduction_127-0"><a href="#cite_note-Tesla4Q2017_AggProduction-127">[122]</a></sup><sup class="reference" id="cite_ref-Tesla4Q2017final_128-0"><a href="#cite_note-Tesla4Q2017final-128">[123]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q1 2018</td>
<td>335,816</td>
<td>34,494</td>
<td>11,730</td>
<td>10,070</td>
<td>8,182</td>
<td>29,997</td>
<td>6,100</td>
<td><sup class="reference" id="cite_ref-Tesla1Q2018_129-0"><a href="#cite_note-Tesla1Q2018-129">[124]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q2 2018</td>
<td>389,155</td>
<td>53,339</td>
<td>10,930</td>
<td>11,370</td>
<td>18,440</td>
<td>40,740</td>
<td>15,058</td>
<td><sup class="reference" id="cite_ref-Tesla2Q2018_130-0"><a href="#cite_note-Tesla2Q2018-130">[125]</a></sup><sup class="reference" id="cite_ref-Tesla2Q2018final_131-0"><a href="#cite_note-Tesla2Q2018final-131">[126]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q3 2018</td>
<td>469,297</td>
<td>80,142</td>
<td>14,470</td>
<td>13,190</td>
<td>56,065</td>
<td>83,725</td>
<td>11,824</td>
<td><sup class="reference" id="cite_ref-Tesla3Q2018_132-0"><a href="#cite_note-Tesla3Q2018-132">[127]</a></sup><sup class="reference" id="cite_ref-Tesla3Q2018final_133-0"><a href="#cite_note-Tesla3Q2018final-133">[128]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q4 2018</td>
<td>555,852</td>
<td>86,555</td>
<td>13,500</td>
<td>14,050</td>
<td>63,359</td>
<td>90,700</td>
<td>2,907</td>
<td><sup class="reference" id="cite_ref-Tesla4Q2018_134-0"><a href="#cite_note-Tesla4Q2018-134">[129]</a></sup><sup class="reference" id="cite_ref-Tesla4Q2018final_73-1"><a href="#cite_note-Tesla4Q2018final-73">[72]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q1 2019</td>
<td>632,952</td>
<td>77,100</td>
<td colspan="2">12,100</td>
<td>50,900</td>
<td>63,000</td>
<td>10,600</td>
<td><sup class="reference" id="cite_ref-Tesla1Q2019_135-0"><a href="#cite_note-Tesla1Q2019-135">[130]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q2 2019</td>
<td>720,000</td>
<td>87,048</td>
<td colspan="2">17,650</td>
<td>77,550</td>
<td>95,200</td>
<td>7,400</td>
<td><sup class="reference" id="cite_ref-Tesla2Q2019_136-0"><a href="#cite_note-Tesla2Q2019-136">[131]</a></sup><sup class="reference" id="cite_ref-wired20190703_137-0"><a href="#cite_note-wired20190703-137">[132]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q3 2019</td>
<td>816,155</td>
<td>96,155</td>
<td colspan="2">17,483</td>
<td>79,703</td>
<td>97,186</td>
<td></td>
<td><sup class="reference" id="cite_ref-Tesla3Q2019_138-0"><a href="#cite_note-Tesla3Q2019-138">[133]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q4 2019</td>
<td>921,046</td>
<td>104,891</td>
<td colspan="2">19,450</td>
<td>92,550</td>
<td>112,000</td>
<td></td>
<td><sup class="reference" id="cite_ref-Tesla4Q2019_72-1"><a href="#cite_note-Tesla4Q2019-72">[71]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q1 2020</td>
<td>1,023,718</td>
<td>102,672</td>
<td colspan="2">12,200</td>
<td>76,200</td>
<td>88,400</td>
<td></td>
<td><sup class="reference" id="cite_ref-139"><a href="#cite_note-139">[134]</a></sup>
</td></tr></tbody>

In [9]:
# extract the table column headings
# end result: a list with all the column headings
import re
regex = re.compile('_\[\w\]')

table_head = full_table.select('tr th')
# print(table_head)
table_columns = []
for el in table_head:
    column_label = el.get_text(separator=" ", strip=True)
    column_label = column_label.replace(" ", "_")
    column_label = regex.sub('', column_label)
    table_columns.append(column_label)
print(table_columns)

['Quarter', 'Cumulative_production', 'Total_production', 'Model_S_sales', 'Model_X_sales', 'Model_3_+_Model_Y_sales', 'Total_sales', 'In_transit', 'Source']

In [11]:
# extract table data
# end result: multidimensional list containing a list for each row

table_rows = full_table.select('tr')
table_data = []
for index, element in enumerate(table_rows):
    if index > 0:
        row_list = []
        values = element.select('td')
        for value in values:
            row_list.append(value.text.strip())
        table_data.append(row_list)
        
print(table_data)

[['Q1 2013', '?', '5,000+', '4,900', '', '', '4,900', '', '[98]'], ['Q2 2013', '?', '?', '5,150', '', '', '5,150', '', '[99]'], ['Q3 2013', '?', '?', '5,500+', '', '', '5,500+', '', '[100]'], ['Q4 2013', '~34,851', '6,587', '6,892', '', '', '6,892', '', '[101]'], ['Q1 2014', '~41,438', '7,535', '6,457', '', '', '6,457', '', '[102]'], ['Q2 2014', '~48,973', '8,763', '7,579', '', '', '7,579', '', '[103]'], ['Q3 2014', '~57,736', '~7,075', '7,785', '', '', '7,785', '', '[104]'], ['Q4 2014', '64,811', '11,627', '9,834', '', '', '9,834', '', '[105]'], ['Q1 2015', '76,438', '11,160', '10,045', '', '', '10,045', '', '[106]'], ['Q2 2015', '89,245', '12,807', '11,532', '', '', '11,532', '', '[107]'], ['Q3 2015', '102,336', '13,091', '11,597', '6', '', '11,603', '', '[108]'], ['Q4 2015', '116,373', '14,037', '17,272', '206', '', '17,478', '', '[109]'], ['Q1 2016', '131,883', '15,510', '12,420', '2,400', '', '14,820', '2,615', '[110]'], ['Q2 2016', '150,228', '18,345', '9,764', '4,638', '', '14,402', '5,150', '[111][112]'], ['Q3 2016', '175,413', '25,185', '16,047', '8,774', '', '24,821', '5,065', '[113]'], ['Q4 2016[e]', '200,295', '24,882', '12,700', '9,500', '', '22,254', '6,450', '[114][115]'], ['Q1 2017', '225,713', '25,418', '~13,450', '~11,550', '', '25,051', '~4,650', '[116]'], ['Q2 2017', '251,421', '25,708', '~12,000', '~10,000', '', '22,026', '~3,500', '[117][118]'], ['Q3 2017', '276,757', '25,336', '14,065', '11,865', '222', '26,137', '4,820', '[119][120]'], ['Q4 2017', '301,322', '24,565', '~15,200', '~13,120', '1,542', '29,967', '3,380', '[121][122][123]'], ['Q1 2018', '335,816', '34,494', '11,730', '10,070', '8,182', '29,997', '6,100', '[124]'], ['Q2 2018', '389,155', '53,339', '10,930', '11,370', '18,440', '40,740', '15,058', '[125][126]'], ['Q3 2018', '469,297', '80,142', '14,470', '13,190', '56,065', '83,725', '11,824', '[127][128]'], ['Q4 2018', '555,852', '86,555', '13,500', '14,050', '63,359', '90,700', '2,907', '[129][72]'], ['Q1 2019', '632,952', '77,100', '12,100', '50,900', '63,000', '10,600', '[130]'], ['Q2 2019', '720,000', '87,048', '17,650', '77,550', '95,200', '7,400', '[131][132]'], ['Q3 2019', '816,155', '96,155', '17,483', '79,703', '97,186', '', '[133]'], ['Q4 2019', '921,046', '104,891', '19,450', '92,550', '112,000', '', '[71]'], ['Q1 2020', '1,023,718', '102,672', '12,200', '76,200', '88,400', '', '[134]']]

In [12]:
# create a panda dataframe
df = pd.DataFrame(table_data, columns=table_columns)
df

,Quarter,Cumulative_production,Total_production,Model_S_sales,Model_X_sales,Model_3_+_Model_Y_sales,Total_sales,In_transit,Source
0,Q1 2013,?,"5,000+","4,900",,,"4,900",,[98]
1,Q2 2013,?,?,"5,150",,,"5,150",,[99]
2,Q3 2013,?,?,"5,500+",,,"5,500+",,[100]
3,Q4 2013,"~34,851","6,587","6,892",,,"6,892",,[101]
4,Q1 2014,"~41,438","7,535","6,457",,,"6,457",,[102]
5,Q2 2014,"~48,973","8,763","7,579",,,"7,579",,[103]
6,Q3 2014,"~57,736","~7,075","7,785",,,"7,785",,[104]
7,Q4 2014,"64,811","11,627","9,834",,,"9,834",,[105]
8,Q1 2015,"76,438","11,160","10,045",,,"10,045",,[106]
9,Q2 2015,"89,245","12,807","11,532",,,"11,532",,[107]
10,Q3 2015,"102,336","13,091","11,597",6,,"11,603",,[108]
11,Q4 2015,"116,373","14,037","17,272",206,,"17,478",,[109]
12,Q1 2016,"131,883","15,510","12,420","2,400",,"14,820","2,615",[110]
13,Q2 2016,"150,228","18,345","9,764","4,638",,"14,402","5,150",[111][112]
14,Q3 2016,"175,413","25,185","16,047","8,774",,"24,821","5,065",[113]
15,Q4 2016[e],"200,295","24,882","12,700","9,500",,"22,254","6,450",[114][115]
16,Q1 2017,"225,713","25,418","~13,450","~11,550",,"25,051","~4,650",[116]
17,Q2 2017,"251,421","25,708","~12,000","~10,000",,"22,026","~3,500",[117][118]
18,Q3 2017,"276,757","25,336","14,065","11,865",222,"26,137","4,820",[119][120]
19,Q4 2017,"301,322","24,565","~15,200","~13,120","1,542","29,967","3,380",[121][122][123]
20,Q1 2018,"335,816","34,494","11,730","10,070","8,182","29,997","6,100",[124]
21,Q2 2018,"389,155","53,339","10,930","11,370","18,440","40,740","15,058",[125][126]
22,Q3 2018,"469,297","80,142","14,470","13,190","56,065","83,725","11,824",[127][128]
23,Q4 2018,"555,852","86,555","13,500","14,050","63,359","90,700","2,907",[129][72]
24,Q1 2019,"632,952","77,100","12,100","50,900","63,000","10,600",[130],None
25,Q2 2019,"720,000","87,048","17,650","77,550","95,200","7,400",[131][132],None
26,Q3 2019,"816,155","96,155","17,483","79,703","97,186",,[133],None
27,Q4 2019,"921,046","104,891","19,450","92,550","112,000",,[71],None
28,Q1 2020,"1,023,718","102,672","12,200","76,200","88,400",,[134],None